*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex_item{
    color: white;
    font-size: 45px;
    background: rgb(67, 197, 117);
}
/*
.flex_item:nth-child(1){
    background: rgb(67, 197, 117);
}
.flex_item:nth-child(2){
    background: rgb(228, 163, 66);
}
.flex_item:nth-child(3){
    background: rgb(35, 150, 218);
}

/*seleccionar pares*/
/*
.flex_item:nth-child(2n){
    background: rgb(121, 216, 32);
}
*/
.flex_item:nth-child(2n-1){
    background: rgb(41, 174, 207);
}

/*Aplicando flexbox*/

.flex_container{
    background: rgba(114, 113, 113, 0.493);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-direction: row-reverse; row->por defecto - column - row-reverse - column-reverse*/
    justify-content: space-around;/*flex-start->defecto - flex-end - center - space-around - space-between*/
    /*align-items: flex-start;/*flex-start - flex-end - center - stretch ->defecto*/
}

.flex_item{
    flex: 0 1 calc(50% - 10px);
}





