@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Supermercado+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #151729;
    color: rgba(201, 200, 200, 0.705);
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size:60px;
    text-shadow: -6px 5px 6px rgba(228, 225, 225, 0.425);
    border-bottom: solid 5px rgba(255, 255, 255, 0.438);
}
.titulo-cuento{
    text-transform: uppercase;
    color: rgb(33, 143, 233);
    margin: 10px 20px;
    border-bottom: solid 3px rgba(0, 140, 255, 0.493);
    border-right:solid 3px rgba(0, 140, 255, 0.493) ;
    width: 120px;
    padding: 5px;
}
.texto-cuento{
    padding: 30px;
}
.img-container{

    display: flex;
    justify-content: center;
}
.img-cuento{
    cursor: pointer;
    box-shadow: -7px 8px 5px 0px rgba(171,171,171,0.75);
    -webkit-box-shadow: -7px 8px 5px 0px rgba(171,171,171,0.75);
    -moz-box-shadow: -7px 8px 5px 0px rgba(171,171,171,0.75);
    width:300px;
    filter: grayscale(57%) sepia(26%) brightness(108%) hue-rotate(39deg) saturate(288%);
    -webkit-filter: grayscale(57%) sepia(26%) brightness(108%) hue-rotate(39deg) saturate(288%);
    -moz-filter: grayscale(57%) sepia(26%) brightness(108%) hue-rotate(39deg) saturate(288%);
}
.capitalizar{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    color: white;
}
.importante{
    color: rgba(102, 219, 24, 0.849);
}


